!!! 5
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Day&Night
    / start of gamework styles
    %link{href: "css/main.css", rel: "stylesheet"}/

    %script{ src: "/vendor/Math2.js"}
    %script{ src: "/vendor/stats.min.js"}
    %script{ src: "/vendor/jquery-2.1.3.min.js"}
    %script{ src: "/vendor/lodash.js"}
    %script{ src: "/vendor/createjs-2014.12.12.min.js"}
    %script{ src: "/vendor/Spine.js"}
    %script{ src: "/js/client/easelSpine.js"}

    %script{ data-main: "js/client/main", src: "/vendor/require.js"}
  %body{ unselectable:"on" }
    .wrapper
      #fs Fullscreen
      .sign_in
        Введите ник:&nbsp;
        %input#nick{ name:"nick", type:"text" }
        %input{ type: "button", value: "Войти" }