body, html {
  padding: 0;
  margin: 0;
  background: #000;
  font-family: Arial; }

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#fs {
  cursor: pointer;
  margin: 10px 0;
  text-decoration: underline; }

.wrapper {
  margin: 0 auto;
  color: #FFF; }
